<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
	{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	{% assets filters="cssmin", output="style.min.css", "css/normalize.css", "css/pygments.css", "css/style.css" %}
		<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}" />
	{% endassets %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500%7CUbuntu+Mono&display=swap">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

	{% endblock head %}
</head>
<body role="document">
	<div id="page">
		<header id="header">
			<div class="container">
				<h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
				<p id="sentence">french fries and <span id="buzzword">tech</span></p>
				<nav role="navigation">
					<ul>
						<li><a{% if not page %} class="active"{% endif %} href="{{ SITEURL }}/" title="blog posts">Blog</a></li>
					{% if DISPLAY_PAGES_ON_MENU %}
						{% for p in pages %}
						<li><a{% if p == page %} class="active"{% endif %} href="{{ SITEURL}}/{{ p.url }}">{{ p.title }}</a></li>
						{% endfor %}
					{% endif %}
					</ul>
				</nav>
			</div>
		</header>
		<div id="main" role="main">
			{% block content %}
			{% endblock content %}
		</div>
		<footer id="footer" role="contentinfo">
			<p><small>&copy; Copyright 2019 - Geoffrey Guéret<br>Contenu généré avec <a href="https://blog.getpelican.com/">Pelican</a> et hébergé sur <a href="https://www.raspberrypi.org/">GitHub Pages</a></small></p>
			<div class="social-icons">
				<span><a href="https://www.linkedin.com/in/ggueret/" ><i style="color: #4875B4;" class="fab fa-linkedin fa-lg" title="Linkedin profile"></i></a></span>
				<span><a href="https://github.com/ggueret" ><i style="color: #333;" class="fab fa-github fa-lg" title="GitHub profile"></i></a></span>
			</div>
			<div id="favmodel"></div>
		</footer>
	</div>
	{% assets filters="rjsmin", output="main.min.js", "js/main.js" %}
	<script type="text/javascript" src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
	{% endassets %}
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
</body>
</html>