{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock %}
{% block head %}
{{ super() }}
	<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% else %}
	<meta name="description" content="{{ page.title }} page">
	{% endif %}
	{% for tag in page.tags %}
	<meta name="tags" content="{{ tag }}">
	{% endfor %}
{% endblock head %}

{% block content %}
<div class="container">
	<h1>{{ page.title }}</h1>
	{{ page.content }}
</div>
{% endblock content %}