/* Color palette from Tomorrow-Night theme (https://github.com/chriskempson/tomorrow-theme) */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v9/KFOjCneDtsqEr0keqCMhbCc6CsTYl4BO.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 3.4rem;
	color: #030303;
	background-color: #fafbfc;
}

::selection {
	background: #efefef;
}

-moz-selection {
	background: #efefef;
}

article p > code, article li > code, article dd > code {
	color: #cc6666;
	padding: 0.4rem;
	border-radius: 0.4rem;
	border: 0.1rem solid #d6d6d6;
	background-color: inherit;
}

pre {
	font-family: 'Ubuntu Mono', monospace;
	line-height: 2.6rem;
}

h1 {
	font-size: 3rem;
}

h1, h2, h3 {
	font-weight: 500;
}

a {
	color: #4271ae;
	text-decoration: none;
}

a.active, a.active:hover {
	color: #030303;
}

a:hover {
	color: #3e999f;
}

section {
	text-align: center;
}

ul.inline li {
	display: inline;
	padding: 0.6rem;
}

.crumb-golang::after {
	content: "(Golang)";
	margin-left: 0.3rem;
	font-weight: lighter;
	font-size: 75%;
	font-style: italic;
}

.crumb-python::after {
	content: "(Python)";
	margin-left: 0.3rem;
	font-weight: lighter;
	font-size: 75%;
	font-style: italic;
}

#page {}

.container {
	width: auto;
	margin: 0 auto;
	padding: 0 3rem;
}


/*_ Header __________________________________________________________________*/

#header {
	background: linear-gradient(#efefef, #fafbfc);
	padding: 3rem 0;
}

#header h1 {
	display: inline;
/*	vertical-align: top;*/
	font-size: 2.8rem;
	line-height: 2rem;
	font-weight: normal;
}

#header h1 img {
	float: left;
	width: 100px;
	height: 100px;
}

#header h1 a, #header p {
	color: #1d1f21;
}

#header h1 a {
	text-shadow: 0.1rem 0.1rem 0.1rem #f3f3f3;
}

#header p {
	display: inline;
	font-size: 1.6rem;
	line-height: 2rem;
}

#header nav {
	font-size: 2rem;
}
#header nav, #header nav ul {
/*	display: inline; useful for some browser ?*/
float: right;
	margin: 0;
}

#header nav ul {
	padding-left: 2rem; /* responsive */
}
#header nav ul li {
	display: inline;
	list-style: none;
	padding-left: 1rem;
/*	font-weight: bold;*/
}

#header nav li + li:before {
	content: "|";
	color: #d6d6d6;
	padding-right: 1rem;
}


/*_ Main ____________________________________________________________________*/

#main {
	padding-top: 2rem;
	text-align: justify;
}


/*_ Footer __________________________________________________________________*/
#footer .social-icons svg {
	width: 2rem;
	height: 2rem;
}

#footer .social-icons span + span {
	margin-left: 0.4rem;
}

#footer {
	position: relative;
	color: #8e908c;
	text-align: center;
	margin-top: 7rem;
	margin-bottom: 4rem;
	padding: 1rem 0;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

#footer a {
	color: #8e908c;
	text-decoration: underline;
	text-decoration-color: #4271ae;
}

#footer a:hover {
	color: #4271ae;
	text-decoration-color: #8e908c;
}


/*_ Articles ________________________________________________________________*/

article header h1 {
	font-size: 2rem;
}

section article h1, article header h1, article p.category {
	display: inline;
}

article time {
	font-size: 1.4rem;
	color: #8e908c;
	margin-left: 1rem;
}

article > time::after {
	content: "~";
	padding: 0 0.6rem;
	color: #d6d6d6;
	font-weight: 700;
}

article > p.category:before {
	content: "@";
	padding: 0 0.6rem;
	color: #d6d6d6;
	font-weight: 700;
}

article header > p.category::after {
	content: "/";
	padding: 0 0.6rem;
	color: #d6d6d6;
}
article > h1, article {
	font-size: 1.8rem;
}

article header p.category {
	font-weight: 500;
	float: left;
	margin: 0;
}

dt {
	font-weight: 500;
}

/* syntax highlighting */
.highlight {
	border: 0.1rem solid #d6d6d6;
	border-radius: 0.4rem;
	overflow: auto;
	padding: 0 1rem;
}

/* permalinks */
.headerlink {
	color: #dfdfdf;
	margin-left: 0.3em;
}

.headerlink::after {
	content: "#";
}


/*_ Responsiveness __________________________________________________________*/

@media all and (min-width: 1024px) {
	.container {
		width: 96rem;
	}
}

@media all and (max-width: 1023px) {
	article p.category {
		display: none;
	}
}

@media all and (max-width: 767px) {
	article time {
		display: none;
	}
	section > article::before {
		content: "~";
		padding: 0 0.6rem;
		color: #d6d6d6;
		font-weight: 700;
	}
}

@media all and (max-width: 500px) {
	#header {
		text-align: right;
	}
	#header p {
		display: none;
	}
	section, section article {
		text-align: left;
	}
	#footer .social-icons svg {
		width: 3rem;
		height: 3rem;

	}
}


/*_  Helpers ________________________________________________________________*/

.rounded {
	border-radius: 50% !important;
}

.text-muted {
	color: #8e908c !important;
}

.block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.crumbed {
	border-radius: 10%;
	border: 1px solid #dfdfdf;
	padding: 0.5rem;
	background-color: #fff;
}